In [2]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data = pd.read_csv("/media/jhr/希捷移动硬盘/01-Robot Operating System/20-tensorflow 2.0/tensorflow资料/tensorflow资料/数据集/Advertising.csv")

In [6]:
data

     Unnamed: 0     TV  radio  newspaper  sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [8]:
x=data.iloc[:,1:-1]# 所有行，第一列到最后一列
y=data.iloc[:,-1]# 所有行，最后一列

In [11]:
#模型10个中间层，输入层三个参数，输出层一个参数，激活函数为rule
model = tf.keras.Sequential([tf.keras.layers.Dense(10,input_shape=(3,),activation='relu'),
                             tf.keras.layers.Dense(1)]
                           )

In [12]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                40

 dense_1 (Dense)             (None, 1)                 11

=================================================================
Total params: 51 (204.00 Byte)
Trainable params: 51 (204.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
model.compile(optimizer='adam',
             loss='mse')

In [ ]:
tf_callback=tf.keras.callbacks.TensorBoard(log_dir="./logs")
model.fit(x,y,epochs=1000,callbacks=[tf_callback])

In [16]:
#切片操作
test = data.iloc[:10,1:-1]#前十行，第二列至倒数第二列
model.predict(test)

1/1 [==============================] - 0s 59ms/step

array([[21.54125  ],
       [10.246871 ],
       [ 8.694987 ],
       [18.603554 ],
       [12.910798 ],
       [ 8.250923 ],
       [10.732361 ],
       [13.421216 ],
       [ 5.167994 ],
       [10.9628725]], dtype=float32)